@model Quantum.WebAPI.ViewModels.ClassesViewModel

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="panel panel-primary ">
    <div class=" row panel-body">
        <div class="col-sm-9 col-md-9 container-fluid ">
            <div class="row">
                <div class="col-sm-4 col-md-4 ">
                    @Html.LabelFor(m => m.ClassName)
                </div>

                <div class="col-sm-4 col-md-4 ">
                    @Html.TextBoxFor(m => m.ClassName)
                </div>
                <div class="col-sm-4 col-md-4 ">
                    <span asp-validation-for="ClassName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 ">
                    @Html.LabelFor(m => m.Location)
                </div>

                <div class="col-sm-6 col-md-6 ">
                    @Html.TextBoxFor(m => m.Location)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 ">
                    @Html.LabelFor(m => m.TeacherName)
                </div>

                <div class="col-sm-6 col-md-6 ">
                    @Html.TextBoxFor(m => m.TeacherName)
                </div>
            </div>

        </div>
        <div class="col-sm-3 col-md-3">
            <button type="button" id="addClassesInfo" class="btn btn-sm btn-primary">Add Classes</button>
        </div>
    </div>
</div>
